//- confirmation-email.pug
html
  head
    style(type='text/css').
      body {
        font-family: Arial, sans-serif;
        background-color: #f4f4f4;
        padding: 20px;
      }
      .container {
        max-width: 600px;
        margin: 0 auto;
        background-color: #ffffff;
        padding: 30px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      }
      h1 {
        color: #333333;
      }
      span {
        color: #8816ab
      }
      p {
        margin-bottom: 10px;
        color: #555555;
      }
      a {
        color: #007bff;
        text-decoration: none;
      }
      a:hover {
        text-decoration: underline;
      }
  body
    .container
      h1 Hola #{name}
      h3 has creado tu cuenta en 
          span UpTask.
      h3 ya casi está todo listo, solo debes confirmar tu cuenta.
      p Visita el siguiente enlace:
      p
        a(href=`${frontendUrl}/auth/confirm-account`) Confirmar cuenta
      p E ingresa el código: #{token}
      p Este token expira en 10 minutos
